<div class="thumbnail panier_catalogue">
    <div class="panel-default">
        <div class="panel-heading"> Mon panier </div>
        <div class="row mon_panier_catalogue">
                        <table>
                            <tr>
                                <th>Produit</th>
                                <th>Quantité</th>
                                <th>Prix</th>
                                <th></th>
                            </tr>
                            
                            {% set prix_total=0 %}
                            {% for champs in articles %}
                                <tr class="ligne-tableau">
                                  <td>{{ champs['article'].libelle }}</td>
                                  <td>{{ champs['qte']  }}</td>
                                  <td>{{ champs['article'].prix * champs['qte'] }}</td>
                                  {% set prix_total=prix_total+champs['article'].prix*champs['qte'] %}
                                  <td>
                                    <a href="{{ path('suppressionArticlePanier', { id_article: champs['article'].getId() }) }}">
                                      <span class="glyphicon glyphicon-remove" aria-hidden="true">Supprimer</span>
                                    </a>
                                  </td>
                                </tr>
                            {% endfor %}
                            
                            <!-- footer tableau -->
                            <tr>
                                <td></td>
                                <td>
                                    Total TTC EUR
                                </td>
                                <td>
                                    {{ prix_total }}€
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <div class="boutons_bas_panier_catalogue">
                            <a href="#" class="btn btn-success">Confirmer la commande</a>
                            <a href="{{ path('viderPanier') }}" class="btn btn-danger">Vider le panier</a>
                        </div>
                    </div>
                    <!-- fin row -->
                </div>
                <!-- fin panel-body -->
    </div>
    <!-- fin panel-default -->

<!-- fin thumbnail-panier-->