<div class="panel-default">
    <div class="panel-heading"> Mon Panier </div>
    <div class="panel-body">
        <div class="row">
            <table>
                <tr>
                    <!--
                    <th></th>
                    <th></th>
                    <th>
                        <p>Prix</p>
                    </th>
                    <th>
                        <p>Quantité</p>
                    </th>
                    <th></th>
                    -->
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix total</th>
                    <th>Supprimer</th>
                </tr>

                {% for champs in articles %}
                    <tr class="ligne-tableau">
                      <td>{{ champs['article'].libelle }}</td>
                      <td>{{ champs['qte']  }}</td>
                      <td>{{ champs['article'].prix * champs['qte'] }}</td>
                      <td>
                        <a href="{{ path('suppressionArticlePanier', { id_article: champs['article'].getId() }) }}">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                      </td>
                    </tr>
                {% endfor %}
              <!--
                <tr class="ligne-tableau">
                    <td> <img class="img-circle" src="images/queen.jpg" alt="Coin Queen" /></td>
                    <td class="panier-libelle">
                        <p> La Reine des Eaux </p>
                    </td>
                    <td>
                        <p> 5,00 </p>
                    </td>
                    <td>
                        <p>2</p>
                    </td>
                    <td>
                        <input type="submit" class="btn btn-default btn-submit" value="Supprimer" />
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <p style="text-align: right"> Total TTC EUR</p>
                    </td>
                    <td>
                        <p> 35,09 </p>
                    </td>
                </tr>
              -->
            </table>
            <a href="#" class="btn btn-primary">Confirmer la commande</a>
            <a href="{{ path('viderPanier') }}" class="btn btn-danger">Vider le panier</a>
        </div>
        <!-- fin row -->
    </div>
    <!-- fin panel-body -->
</div>
<!-- din panel-default -->