{% extends "VitrineBundle::layout.html.twig" %}

{% block title %} Mes commandes {% endblock %}

{% block content %}
    <div class="content">
        {% set compteurCommande=0 %}
        
        {% for commande in commandes %}
         
        <div class="thumbnail panier commandes">
            <div class="panel-default">
                
                <div class="panel-heading"> Commande n°{{ commande['infos']['id_commande'] }} passée le {{ commande['infos']['date'] }}
                    - État : {% if commande['infos']['etat']==FALSE %}
                                Non traitée
                             {% else %}
                                Validée
                             {% endif %}
                </div>
                    <div class="panel-body">
                        <div class="row">
                            {% if commande['infos']['vide']==FALSE %}
                                <table>
                                    <tr>
                                        <th></th>
                                        <th>Produit</th>
                                        <th>Quantité</th>
                                        <th>Prix</th>
                                    </tr>
                                    
                                    {% set compteurLignes=0 %}
                                    {% set prix_total_commande=0 %}
                                    {% for ligne in commande['lignes'] %}
                                        
                                        

                                            
                                                <tr class="ligne-tableau">
                                                  <td>
                                                    <img src="{{ asset('bundles/vitrine/images/' ~ ligne.article|lower ~ '.jpg') }}" class="img-circle" alt="{{ ligne.article }}" />
                                                  </td>
                                                  <td>{{ ligne.article }}</td>
                                                  <td>{{ ligne.quantite  }}</td>
                                                  <td>{{ ligne.prix }} € </td>
                                                  {% set prix_total_commande=prix_total_commande+ligne.prix %}
                                                </tr>
                                        
                                        
                                        {% set compteurLignes=compteurLignes+1 %}
                                    {% endfor %}
                                    </table>
                                    <div class="footer_liste_commandes">Prix total TTC :  {{ prix_total_commande }} €</div>
                            {% else %}
                                <div class="commande_vide">Cette commande est vide !</div>
                            {% endif %}
                        </div>
                        <!-- fin row -->
                </div>
                <!-- fin panel-body -->
            </div>
            <!-- din panel-default -->
        </div>
        <!-- din thumbnail -->
        {% set compteurCommande=compteurCommande+1 %}
        {% endfor %}
    </div>
    <!-- fin content-->
    
{% endblock %}