{% extends "VitrineBundle::layout.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block content %}

<div class="content">
<div class="row">
    <div class="col-md-3">
        <div class="left-aside">
            <!-- RECHERCHE PAR CATAGOERIE -->
            {% include 'VitrineBundle:Article:rechercheParCategorie.html.twig' %}
             
            <!-- COINCOIN DES PROMOS -->
            <!-- controlleurs imbriqués -->
            {{ render(controller('VitrineBundle:Article:promotions',{'max': 1})) }} 
        </div>
        <!-- fin left-aside -->
    </div>
    <!-- fin col-md-3 -->

    <!-- FOR EACH SUR LES COIN COIN, gérer la pagination par la suite -->
    <div class="col-md-9">
        {% for article in articles %}
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <div class="panel-default">
                        <div class="panel-heading"> {{ article.libelle }} </div>
                        <a class="post-image-link"> <!-- href="/images/ninja.jpg"  -->
                            <img src="{{ asset('bundles/vitrine/images/' ~ article.libelle|lower ~ '.jpg') }}" class="img-rounded" alt="{{article.libelle}}" /> <!-- src="images/ninja.jpg" -->
                        </a>
                        <div class="caption">
                            <h2> {{ article.prix }}€ </h2>
                            <p> {{ article.description }} </p>
                            {% if article.stock>8 %}
                                <span class="btn btn-success">Stock : {{ article.stock }}</span>
                            {% elseif article.stock<9 and article.stock>4 %}
                                <span class="btn btn-warning">Stock : {{ article.stock }}</span>
                            {% elseif article.stock<5 and article.stock>0 %}
                                <span class="btn btn-danger">Stock : {{ article.stock }}</span>
                            {% else %}
                                <span class="btn btn-default">Article épuisé !</span>
                            {% endif %}
                            <span class="glyphicon glyphicon-shopping-cart" ></span> <!-- href="article.html" -->
                        </div>
                        <!-- fin caption -->
                    </div>
                    <!-- fin panel-default -->
                </div>
                <!-- fin thumbnail -->
            </div>
            <!-- fin col-lg-4 col-sm-6 -->
        {% endfor %}

        <!--
        <nav class="pagination">
            <ul class="pager">
                <li><a href="#">Précédent</a></li>
                <li><a href="#">Suivant</a></li>
            </ul>
        </nav>
        -->
        
        
    </div>
    <!-- fin col-md-9 -->
</div>
<!-- fin row -->



</div>
<!-- fin content -->
    
{% endblock %}