<div class="thumbnail promo">
                <div class="panel-default">
                    <div class="panel-heading"> LE COINCOIN DES PROMO' </div>

                {% for promo in promotions %}

                    <!-- FOR EACH SUR LES COIN COIN PROMO=TRUE -->
                    <div class="thumbnail">
                        <div class="panel-default">

                            <div class="panel-heading"> {{ promo.libelle }} </div>

                                <a href="" class="post-image-link">  <!-- <a href="images/clerc.jpg"> -->
                                   <img src="{{ asset('bundles/vitrine/images/' ~ promo.libelle|lower ~ '.jpg') }}" class="img-rounded" alt="{{promo.libelle}}" /> 
                                </a>

                            <div class="caption">
                                <del> {{ promo.prix }} </del>
                                {% set prix_gonfle=promo.prix %}
                                {% set prix_gonfle=prix_gonfle+(promo.prix*0.2) %}
                                {{ prix_gonfle }} €
                                <h2> {{ promo.prix }} €</h2>
                                <p> {{ promo.description }} </p>
                                {% if promo.stock>8 %}
                                <span class="btn btn-success">Stock : {{ promo.stock }}</span>
                                {% elseif promo.stock<9 and promo.stock>4 %}
                                    <span class="btn btn-warning">Stock : {{ promo.stock }}</span>
                                {% elseif promo.stock<5 and promo.stock>0 %}
                                    <span class="btn btn-danger">Stock : {{ promo.stock }}</span>
                                {% else %}
                                    <span class="btn btn-default">Article épuisé !</span>
                                {% endif %}
                                <span class="glyphicon glyphicon-shopping-cart" ></span>
                            </div>
                            <!-- fin caption -->
                        </div>
                        <!-- fin panel-default -->
                    </div>
                    <!-- fin thumbnail -->
                {% endfor %}

                </div>
                <!-- fin panel-default -->
            </div>
            <!-- fin thumbnail-promo-->